<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="appName" value="template"/>
    <!-- 定义变量 -->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0}:%L- %msg%n"/>

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <!--<property name="LOG_HOME" value="/home" />-->
    <!-- 本地开发环境变量local-->
    <springProfile name="local">
        <property name="LOG_HOME" value="D:/project/webapps/log/${appName}"/>
    </springProfile>
    <!-- 开发环境变量dev-->
    <springProfile name="dev">
        <property name="LOG_HOME" value="/var/webapps/log/${appName}"/>
    </springProfile>
    <!-- 调试环境变量develop-->
    <springProfile name="test">
        <property name="LOG_HOME" value="/var/webapps/log/${appName}"/>
    </springProfile>
    <!-- 预发布环境变量pre-->
    <springProfile name="pre">
        <property name="LOG_HOME" value="/var/webapps/log/${appName}"/>
    </springProfile>
    <!-- 生成环境变量online-->
    <springProfile name="online">
        <property name="LOG_HOME" value="/var/webapps/log/${appName}"/>
    </springProfile>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- ***************************************************************** -->
    <!-- info级别的日志appender,这里把所有日志都输出到一个文件，没有区分不同的业务类型 -->
    <!-- ***************************************************************** -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="${appName}-info">
        <file>${LOG_HOME}/${appName}-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${appName}-info.log.%d{yyyy-MM-dd}.%i
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- ***************************************************************** -->
    <!-- error级别日志appender -->
    <!-- ***************************************************************** -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="${appName}-error">
        <file>${LOG_HOME}/${appName}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${appName}-error.log.%d{yyyy-MM-dd}.%i
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <!-- 日志输出地点,输出一个就行 -->
        <!--<appender-ref ref="STDOUT"/>-->
        <appender-ref ref="${appName}-info"/>
        <appender-ref ref="${appName}-error"/>
    </root>
</configuration>